*.gch
.vscode
.idea

test/*
!test/*.cpp
!test/CMakeLists.txt

evaluation/union_op/create
evaluation/union_op/union
evaluation/union_op/10*
evaluation/union_op/50*
evaluation/union_op/80*

!evaluation/add_edge/*.cpp
evaluation/add_edge/10*
evaluation/add_edge/50*
evaluation/add_edge/80*
evaluation/add_edge/add
evaluation/add_edge/in-2004/*
evaluation/add_edge/uk-2007-05@100000/*
evaluation/add_edge/uk-2014-host/*
evaluation/add_edge/eu-2015-host/*

evaluation/delay_add_edge/add
evaluation/delay_add_edge/*.txt
evaluation/delay_add_edge/10*
evaluation/delay_add_edge/50*
evaluation/delay_add_edge/80*
evaluation/delay_add_edge/in-2004/*
evaluation/delay_add_edge/uk-2007-05@100000/*
evaluation/delay_add_edge/uk-2014-host/*
evaluation/delay_add_edge/eu-2015-host/*

evaluation/contains/10*
evaluation/contains/50*
evaluation/contains/80*
evaluation/contains/contains
evaluation/contains/create
evaluation/contains/in-2004/*
evaluation/contains/uk-2007-05@100000/*
evaluation/contains/uk-2014-host/*

evaluation/delete_edge/10*
evaluation/delete_edge/50*
evaluation/delete_edge/80*
evaluation/delete_edge/delete
evaluation/delete_edge/create
evaluation/delete_edge/in-2004/*
evaluation/delete_edge/uk-2007-05@100000/*
evaluation/delete_edge/uk-2014-host/*

evaluation/list_neighbor/10*
evaluation/list_neighbor/50*
evaluation/list_neighbor/80*
evaluation/list_neighbor/list
evaluation/list_neighbor/create
evaluation/list_neighbor/in-2004/*
evaluation/list_neighbor/uk-2007-05@100000/*
evaluation/list_neighbor/uk-2014-host/*

evaluation/jic-results/*
datasets/*