*.gch
.vscode
.idea

test/*
!test/*.cpp
!test/CMakeLists.txt

evaluation/union_op/create
evaluation/union_op/union
evaluation/union_op/10*
evaluation/union_op/50*
evaluation/union_op/80*

!evaluation/background/*.cpp
evaluation/background/10*
evaluation/background/50*
evaluation/background/80*
evaluation/background/add
evaluation/background/add_background
evaluation/background/add_delay
evaluation/background/add_delay_munro

datasets/*