*.gch
.vscode
.idea

test/*
!test/*.cpp
!test/CMakeLists.txt

evaluation/union_op/create
evaluation/union_op/union
evaluation/union_op/10*
evaluation/union_op/50*
evaluation/union_op/80*

!evaluation/add_edge/*.cpp
evaluation/add_edge/10*
evaluation/add_edge/50*
evaluation/add_edge/80*
evaluation/add_edge/add

evaluation/delay_add_edge/add
evaluation/delay_add_edge/*.txt

datasets/*